#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 4rem;
    position: relative;
}

.image-area::before {
    content: 'Image Preview';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}


.image-area img {
    z-index: 2;
    position: relative;
}


body {
    min-height: 100vh;
    background-color: #757f9a;
    background-image: linear-gradient(147deg, #9b5de5 0%, #f15bb5 100%);
}