{% extends "layout.html"%}
{% block title %}
Objects Detection Service
{% endblock %}
{% block content %}

<div class="container py-5">

    <header class="text-white text-center">
        <h1 class="display-4">Objects Detection Service</h1>
    </header>


    <div class="row py-4">
        <div class="col-lg-12 mx-auto">




            <!-- Uploaded image area-->
            <p class="font-italic text-white text-center">
                Your image is being processed...
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary my-3" href="/">Return</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}